<div class="login-container">
  <div class="login-image"></div>
  <form [formGroup]="loginInfo" (ngSubmit)="signUserIn()"  class="login-form">

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input formControlName="email" class="input" type="email" matInput placeholder="Enter email..."
      />
      <mat-icon class="icon" matSuffix>mail</mat-icon>
      <mat-hint>example@mail.com</mat-hint>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label>password</mat-label>
      <input formControlName="password" class="input" type="password" matInput placeholder="Enter password..."
      />
      <mat-icon class="icon" matSuffix>lock</mat-icon>
      <mat-hint>password should be at least 6 characters</mat-hint>
    </mat-form-field>



    <mat-checkbox class="checkbox">Remember me</mat-checkbox>
    <button type="submit" routerLink="/home" mat-button class="login-button">Login</button>
    <p class="prompt">Don't have an account? <a routerLink="/register" class="signup-text">Signup</a>  here</p>
  </form>
</div>
