<section>
<div class="card">
    <div class="cards">
      <div  *ngFor="let order of orders">
          <div class="checkout-card">
              <img src="{{order.image}}" class="checkout-image" alt="images">
              <div class="checkout-details">
                  <h2>{{order.name}}</h2>
                  <p>{{order.price}}</p>
              </div>
          </div>
      </div>
    </div>
   


   <form class="checkout-form">

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Card number</mat-label>
      <input class="input" type="email" matInput placeholder="Visa/Paypal/MasterCard..."
      />
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Country</mat-label>
      <input class="input" type="text" matInput placeholder="Country"
      />
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
        <mat-label>State</mat-label>
      <input class="input" type="text" matInput placeholder="State"
      />
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
        <mat-label>VS digit</mat-label>
      <input class="input" type="text" matInput placeholder="Card Id"
      />
    </mat-form-field>

    <button type="submit" mat-button class="checkout-button">Checkout</button>
  </form>
 </div>

</section>