<mat-toolbar class="toolbar">
  <div class="logo">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>SHOPRITE</span>
  </div>

  <div class="search-container">
    <input type="text" class="input-field" placeholder="Search store...">
    <button class="search-btn">Search</button>
  </div>

  <div class="controls">
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
      <span class="account-text">Account</span>
    </button>
    <mat-menu class="menu-dropdown" #menu="matMenu">
      <button mat-menu-item routerLink="/login">Login</button>
      <button mat-menu-item routerLink="/login">Logout</button>
      <button mat-menu-item>Help ?</button>
    </mat-menu>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon  matBadge="4">shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>
