<nav class="nav">
  <div>LOGO</div>
  <mat-form-field class="search" appearance="outline">
    <input class="input-field" matInput placeholder="Search..." />
    <mat-icon class="search-icon" matSuffix>search</mat-icon>
  </mat-form-field>
  <ul class="nav-links">
    <li>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
        Menu
     </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Login</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </li>
    <li>
      <mat-icon class="cart-icon" matBadge="4" matBadgeColor="primary"
        >shopping_cart</mat-icon
      >
    </li>
  </ul>
</nav>
